:root {
  --color-light-orange: #c97165;
  --color-dark-orange: #64524e;
  --color-dark: #40434b;
  --color-black: #24262c;
  --font-header: "Bungee", cursive;
  --font-content: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee", cursive;
  letter-spacing: 1px;
}

a {
  color: var(--color-light-orange);
  text-decoration: none;
}

p {
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}

.transition {
  opacity: 100%;
  bottom: 0;
}
