.photo-card-container {
  background-color: green;
  height: 100%;
  width: 0%;
  transition: width 1.5s;
  transition-timing-function: ease-in-out, cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.card-transition {
  width: 100%;
}
