.nav-container {
  background-color: transparent;
  height: 100%;
  width: 0;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s;
  transition-timing-function: ease-in-out, cubic-bezier(0.82, 0.01, 0.77, 0.78);
  z-index: 1000;
}

.nav-transition {
  width: 3vw;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
}

.nav-full {
  height: 100vh;
  width: 0%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  transition: width 0.5s;
  transition-timing-function: ease-in-out, cubic-bezier(0.82, 0.01, 0.77, 0.78);
  z-index: 1000;
}

.open-nav {
  width: 100%;
  left: 0;
}

.nav-full-link {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  transition: visibility 0.45s;
  transition-timing-function: cubic-bezier(0.82, 0.01, 0.77, 0.78);
}

.open-link {
  visibility: visible;
}
